{% extends 'base.html.twig' %}

{% block title %}Vos photos !{% endblock %}

{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h1 class="text-center mb-5">Vos plus belles photos !</h1>
        <div class="row justify-content-md-center g-0">
            <div class="card mt-2 col-10">
                <img class="card-img-top" src="{{ data.photos[3].img_src }}" width="120px" height="360" alt="">
            </div>
        </div>
        <div class="row justify-content-md-center g-0">
            <div class="card mt-2 col-10">
                <img class="card-img-top" src="{{ data.photos[1].img_src }}" width="120px" height="360px" alt="">
            </div>
        </div>
        <div class="row justify-content-md-center g-0">
            <div class="card mt-2 col-10">
                <img class="card-img-top" src="{{ data.photos[2].img_src }}" width="120px" height="360px" alt="">
            </div>
        </div>
        <div class="row justify-content-md-center g-0">
            <div class="card mt-2 col-10">
                <img class="card-img-top" src="{{ data.photos[0].img_src }}" width="120px" height="360px" alt="">
            </div>
        </div>
    </div>
{% endblock %}
