{{ form_start(form) }}
    <div class="mb-3 fs-3 text-white text-center">
        {{ form_widget(form) }}
    </div>
    <button type="submit" class="btn btn-secondary mt-4">Organiser</button>
{{ form_end(form) }}
