{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block body %}
    <h1 class="text-center">Organiser une nouvelle sortie</h1>
    <div class="container">
        {{ include('sortie/_form.html.twig') }}
    </div>

    <div class="d-flex justify-content-end mt-5">
        <a href="{{ path('sortie_index') }}"><button type="button" class="btn btn-warning">Revenir à l'agenda</button></a>
    </div>
{% endblock %}
