body {
    background-image: url("../build/images/fond.png");
    font-family: "Concert One", cursive;
}

h1 {
    font-family: "Fascinate", cursive;
    color: white;
}

table,
td,
a,
th {
    color: white;
}

p {
    color: white;
}

h1 {
    color: red;
}

.time {
    display: inline-flex;
    color: red;
}

.card {
    background-color: red;
}

#talkbubble {
    width: 120px;
    height: 80px;
    background: red;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid red;
    border-bottom: 13px solid transparent;
}