body {
  background-image: url("../build/images/fond.png");
  font-family: "Concert One", cursive;
}

h1 {
  font-family: "Fascinate", cursive;
  color: white;
}

table,
td,
a,
th {
  color: white;
}

p {
  color: white;
}

h1{
    color: red;
}
.time {
    display: inline-flex;
    color: red;
}
.card {
    background-color: red;
}