{{ form_start(form) }}
<div class="mb-3 fs-3 text-white">
    {{ form_widget(form) }}
</div>
    <div class="text-white text-center m-5">
    <button type="submit" class="btn fs-4">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}
