{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center mb-5">Contact me</h1>
    {{ include('contact/_form.html.twig') }}
</div>
{% endblock %}
