{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block body %}
<h1 class="text-center mb-5">la commu'</h1>
<div class="container-lg d-flex mt-5">
    <div class="container d-flex justify-content-around align-items-center mt-5">
        <div><img src="../build/images/extra0.png" width="200px" height="150px"></div>
        <div><img src="../build/images/extra1.png" width="200px" height="150px"></div>
        <div><img src="../build/images/extra2.png" width="200px" height="150px"></div>
    </div>
</div>
<div class="container-lg d-flex"></div>
<div class="container d-flex justify-content-around align-items-center m-3">
        {% for i in 0..2 %}
        <div class="mb-3 fs-3 text-white"><p>{{ users[i].name }}</p></div>
        {% endfor %}
    </div>
</div>
<div class="container-lg d-flex mt-5">
    <div class="container d-flex justify-content-around align-items-center mt-5">
        <div><img src="../build/images/extra3.png" width="200px" height="150px"></div>
        <div><img src="../build/images/extra4.png" width="200px" height="150px"></div>
        <div><img src="../build/images/extra5.png" width="200px" height="150px"></div>
    </div>
</div>
<div class="container-lg d-flex"></div>
<div class="container d-flex justify-content-around align-items-center mt-3">
        {% for i in 3..5 %}
        <div class="mb-3 fs-3 text-white"><p>{{ users[i].name }}</p></div>
        {% endfor %}
    </div>
</div>

{% endblock %}