{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block body %}
<h1 class="text-center mb-5">mon compte</h1>

<div class="text-center mb-5"><button type="button" class="btn btn-warning fs-4">se déconnecter</button></div>

<h2 class="m-3">mes sorties</h2>
<div class="container mt-8">
        <div class="container d-flex justify-content-around align-items-center mt-5">
            <div><img src="../build/images/planetunit0.png" width="200px" height="150px"></div>
            <div class="fs-3"><p>Nom</p></div>
            <div class="fs-3"><p>Date</p></div>
            <div class="fs-3"><p>Description</p></div>
            <div class="fs-3"><p>Organisateur</p></div>
        </div>
        <div class="container d-flex justify-content-around align-items-center mt-5">
            <div><img src="../build/images/planetunit11.png" width="200px" height="150px"></div>
            <div class="fs-3"><p>Nom</p></div>
            <div class="fs-3"><p>Date</p></div>
            <div class="fs-3"><p>Description</p></div>
            <div class="fs-3"><p>Organisateur</p></div>
        </div>
    <div class="d-flex justify-content-end mt-5 mb-5"><a href="{{ path('sortie_new') }}" class="btn btn-warning fs-4">créer une sortie</a></div>
    <h2 class="m-3">mes amis</h2>
    <div class="container d-flex justify-content-around mt-5">
        <div><img src="../build/images/extra4.png" width="200px" height="150px"></div>
        <div><img src="../build/images/extra2.png" width="200px" height="150px"></div>
        <div><img src="../build/images/extra3.png" width="200px" height="150px"></div>
    </div>
    <div class="container d-flex justify-content-around mt-5">
        <div class="fs-3 text-white"><p>Gillou</p></div>
        <div class="fs-3 text-white"><p>JeanMi</p></div>
        <div class="fs-3 .text-white"><p>Vendor</p></div>
    </div>
</div>

{% endblock %}

